
@{
    ViewBag.Title = "PostList";
    Layout = "~/Areas/Admin/Views/Shared/AdimnLayout.cshtml";
}
@model List<DTO.PostDTO>
<section class="content-header">
    <h1>Lista de Posts</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Post</a></li>
        <li class="breadcrumb-item active"><a>Lista de Posts</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Admin/Post/AddPost'">Adicionar Post</button>
</div>

@using DTO
@{
    CountDTO countdto = (CountDTO)ViewData["AllCounts"];
}
<div class="card">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>@countdto.PostCount</h3>

                    <p>Contagem de posts</p>
                </div>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>@countdto.ViewCount</h3>

                    <p>Total de visualizações</p>
                </div>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>@countdto.CommentCount</h3>

                    <p>Total de comentários</p>
                </div>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>@countdto.MessageCount</h3>

                    <p>Total de mensagens</p>
                </div>

            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Nome da Categoria</th>
                    <th>Data de inclusão</th>
                    <th>Atualizar</th>
                    <th>Apagar</th>

                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr id="a_@item.ID">
                        <td>@item.Title</td>
                        <td>@item.CategoryName</td>
                        <td>@item.AddDate.ToString("dd.MM.yyyy, dddd")</td>

                        <td align="center" valign="middle">
                            <a href="/Admin/Post/UpdatePost/@item.ID">
                                <br />

                                <img src="~/Areas/Admin/Content/Icon/update.png" />



                            </a>

                        </td>
                        <td align="center" valign="middle">
                            <a href="#">
                                <br />

                                <img src="~/Areas/Admin/Content/Icon/delete.png" onclick="AskQuestion('/Admin/Post/DeletePost/', @item.ID)" />


                            </a>

                        </td>

                    </tr>

                </tbody>
            }


            <tfoot>
                <tr>
                    <th>Título</th>
                    <th>Nome da Categoria</th>
                    <th>Data de inclusão</th>
                    <th>Atualizar</th>
                    <th>Apagar</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
    <!-- /.card-body -->
</div>
<script src="~/Areas/Admin/Content/JS/DeleteRecord.js"></script>
<!-- /.card -->
